
<%= simple_form_for(@cohort) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :stratdate %>
    <%= f.input :enddate %>
    
    <h4> Select Course <%= f.collection_select(:course_id, Course.all, :id, :name) %></h4>
    <h4> Select Teacher <%= f.collection_select(:teacher_id, Teacher.all, :id, :lastname) %></h4>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-default" %>
  </div>
  <br>
<% end %>
