<p id="notice"><%= notice %></p>

<h1 class="display-7"><%=@cohort.name + " Cohort"%></h1>

<p>
  <strong>Course:</strong>
  <%= @cohort.course.name %>
</p>

<p>
  <strong>Teacher Name:</strong>
  <% if @cohort.teacher %>
    <%= @cohort.teacher.firstname + " " + @cohort.teacher.lastname %>
    <% elsif %>
  TBD
  <% end %>
</p>

<p>
  <strong>Cohort Name:</strong>
  <%= @cohort.name %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @cohort.stratdate %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @cohort.enddate %>
</p>

<p>
  <strong>Course Id:</strong>
  <%= @cohort.course_id %>
</p>

<%= link_to 'Edit', edit_cohort_path(@cohort), class: "btn btn-default" %> |
<%= link_to 'Back', cohorts_path, class: "btn btn-default" %>

<br><br>

<h2>Enrolled Students</h2>
<table class="table table-striped ">
  <thead class="thead-light">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.firstname %></td>
        <td><%= student.lastname %></td>
        <td><%= student.age %></td>
        <td><%= link_to 'Show', student %></td>
       <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

