<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @student.firstname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Education:</strong>
  <%= @student.education %>
</p>

<%= link_to 'Edit', edit_student_path(@student), class: "btn btn-default" %> |
<%= link_to 'Back', students_path, class: "btn btn-default" %>


<br><br>

<h2> Student Cohorts </h2>
<table class="table table-striped ">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
      <tr>
        <td><%= cohort.name %></td>
        <td><%= cohort.stratdate %></td>
        <td><%= cohort.enddate %></td>
        <td><%= cohort.course.name %></td>
        <td><%= link_to 'Show', cohort %></td>
      <!--  <td><%= link_to 'Edit', edit_cohort_path(cohort) %></td>
        <td><%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
