<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @teacher.firstname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @teacher.lastname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @teacher.age %>
</p>

<p>
  <strong>Salary:</strong>
  <%= "$#{@teacher.salary}" %>
</p>

<p>
  <strong>Education:</strong>
  <%= @teacher.education %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher), class: "btn btn-default" %> |
<%= link_to 'Back', teachers_path, class: "btn btn-default" %>
