<p id="notice"><%= notice %></p>

<p>
  <strong>Course Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Course Hours:</strong>
  <%= @course.hours %>
</p>

<%= link_to 'Edit', edit_course_path(@course), class: "btn btn-default" %> |
<%= link_to 'Back', courses_path, class: "btn btn-default" %>
